<app-dist-navbar></app-dist-navbar>

<div class="container">
    <table mat-table [dataSource]="matStock" matSort class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="ID">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="ProductID">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> Product ID </th>
          <td mat-cell *matCellDef="let element"> {{element.ProductID}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="ProductName">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> Product Name </th>
          <td mat-cell *matCellDef="let element"> {{element.ProductName}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="UnitPrice">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> Unit Price </th>
          <td mat-cell *matCellDef="let element"> {{element.UnitPrice}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Quantity">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <mat-paginator color="warn" [pageSizeOptions]="[4, 8, 10]" showFirstLastButtons="" ></mat-paginator>
      
</div>

