

<div>
    <div class="float-right">
        <button color="warn" mat-stroked-button (click)="onClickClose()">X</button>
    </div>
    <hr>
    <br>
    <ng-template [ngIf]="verifyPasswordView">
        <div class="container mt-2">
            <form [formGroup]="verifyEmailForm">
                <div>
                    <mat-form-field class="example-full-width" color="warn">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="name@gmail.com" formControlName="email">
                    </mat-form-field>
                </div>
                <br>
                <div>
                    <mat-form-field class="example-full-width" color="warn">
                        <mat-label>User Name</mat-label>
                        <input matInput placeholder="userName" formControlName="userName">
                    </mat-form-field>
                </div>
                <span class="text-danger">{{verifyFailMsg}}</span>
                <div class="text-center">
                    <button mat-raised-button color="warn" type="submit" [disabled]="!verifyEmailForm.valid" (click)="onClickVerify()"> Verify </button>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template [ngIf]="!verifyPasswordView">
        <div class="container mt-2">
            <form [formGroup]="newPasswordForm">
                <div>
                    <mat-form-field appearance="fill" color="warn" class="example-full-width">
                        <mat-label>Enter new password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <br>
                <div>
                    <mat-form-field appearance="fill" color="warn" class="example-full-width">
                        <mat-label>Confirm password</mat-label>
                        <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="newPassword">
                        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                          <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <span class="text-danger">{{verifyFailMsg}}</span>
                <div class="text-center">
                    <button mat-raised-button color="warn" type="submit" (click)="onClickSetPass()"> Confirm </button>
                </div>
            </form>
        </div>
    </ng-template>
</div>

<ngx-spinner type="ball-scale-multiple" > <p class="text-white" > Verifying </p> </ngx-spinner>
