
.mat-tab{
    margin-top: 0px;
    background-color: grey;
}

.tabs{
    position: sticky;
    top: 6.35em;
    right: 0em;
    left: 0em;
}

table{
    width: 100%;
}

.btn-toggle{
    width: 48%;
}

