.mat-card-container{
    margin: 0em 4em;
}

.mat-content{
    display: inline;
}

.mat-card>:first-child, .mat-card-content>:first-child {
    margin-top: -0.5em;
}

.btn-raise{
    float: right;
}

table {
    width: 100%;
}


